Source: ndn-lintian-profile
Section: perl
Priority: optional
Maintainer: Chris Weyl <chris.weyl@dreamhost.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: https://github.com/dreamhost/dpkg-ndn-lintian-profile
Vcs-Git: https://github.com/dreamhost/dpkg-ndn-lintian-profile.git
Vcs-Browser: https://github.com/dreamhost/dpkg-ndn-lintian-profile

Package: ndn-lintian-profile
Architecture: any
Depends: ${misc:Depends}
Description: Lintian profiles for NDN
 ...to allow tag overrides for some stuff we do. *cough*
