Source: ndn-lintian-profile
Section: unknown
Priority: optional
Maintainer: Chris Weyl <Chris Weyl <cweyl@alumni.drew.edu>>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://git.debian.org/collab-maint/ndn-lintian-profile.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/ndn-lintian-profile.git;a=summary

Package: ndn-lintian-profile
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
